

.section2 {
    padding: 50px;

    form {
        display: grid;
        grid-template-columns: 50% 50%;

        div {
            display: flex;
            flex-direction: column;
            gap: 30px;

            label {
                text-transform: uppercase;
                color: $color2;
                font-family: sans-serif;
                font-weight: 800;
                letter-spacing: 1px;
            }
        }
    }
}