


.section1 {
    padding-bottom: 100px;
    margin-bottom: 50px;
    .twice {
        display: grid;
        grid-template-columns: 50% 50%;

        div {
            margin: 0 auto;
            text-align: center;
            
            h3 {
                margin: 20px;
            }

            h2 {
                text-transform: uppercase;
                letter-spacing: 2px;
                font-family: sans-serif;
            }
            .twice-img {
                margin: 20px;
                // display: inline-block;
            }
            p {
                margin: 40px 125px 40px 125px;
                text-align: justify;
            }
        }
    }
}